<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.20.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="2.3.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="2.3.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="OpenTelemetry.PersistentStorage.Abstractions" version="1.1.1" targetFramework="net48" />
  <package id="OpenTelemetry.PersistentStorage.FileSystem" version="1.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.10" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.10" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
</packages>